<div class="row" *ngIf="isLoggedIn">
  <div class="column">
    <h3>
      You are logged in as <strong>{{ user.userName || user.email }}</strong
      >.
    </h3>
    <div>Please use ChatTime! by interacting with the box on the lower right.</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- <div class="column medium-6 medium-centered large-4 large-centered"> -->

      <form [formGroup]="form" class="form-horizontal" (ngSubmit)="submitLogin()" novalidate="">
        <fieldset>
          <div id="legend"><legend class="text-center">Email Login</legend></div>

          <div class="example-container">
            <mat-form-field>
              <input
                formControlName="email"
                matInput
                placeholder="Enter your email"
                id="email"
                type="text"
              />
              <mat-error *ngIf="!!email && !!email.errors && !!email.touched && !!email.invalid"
                >Email is invalid</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="password"
                matInput
                placeholder="Enter your password"
                id="password"
                [type]="hide ? 'password' : 'text'"
              />
              <mat-icon class="nav-item" matSuffix (click)="hide = !hide"
                >{{ hide ? 'visibility' : 'visibility_off' }}
              </mat-icon>
              <mat-error
                *ngIf="
                  !!password &&
                  !!password.errors &&
                  !!password.touched &&
                  !!password.errors.cannotContainSpace
                "
                >{{ 'Password must not contains spaces' }}</mat-error
              >
            </mat-form-field>
          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success nav-item" type="submit">Login</button>
            </div>
          </div>
          <p class="text-center expanded">
            <a [routerLink]="['/signup']" routerLinkActive="active">New User Signup?</a>
          </p>
        </fieldset>
      </form>
    </div>
  </div>
</div>
